/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!DIGITAL BUZZBOARD!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
TITLE: Digital Buzzboard
AUTHOR: Mitchell Ungar
DATE: November 20 2015
VERSION: 1.0.7
*/
/*CSS Body*/
#body {
  /*background: url("Pictures/Septemberbg.jpg");*/
  background-repeat: no-repeat;
  background-size:auto;
}
#body2 {
  /*background: url("../Pictures/blueBackground.jpg");
  background-repeat: no-repeat;
  background-size:cover;*/
}
/*CSS Middle Container*/
#mid-container {
    margin-top: 25%;
    margin-bottom: 25%;
    margin: 0px auto;
    width: 650px;
    height: 450px;
}
/*CSS Main Container*/
#main-container {
    width: 1800px;
    height: 675px;
}
/*CSS Top Container*/
#top-container {
    margin: 0px auto;
    width: 100%;
    height: 200px;
}
/*CSS Bottom Container*/
#bottom-container {
  /*
    margin: 0px auto;
    width: 1800px;
    height: 150px;
    background: #CCC;
    opacity:0.7;*/
}
/*CSS Left Container*/
#left-container {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 0px;
    width: 600px;
    height: 675px;
    background-color:rgba(192,192,192,0.6);
	  float: left;
    overflow: hidden;
}
#notification-container {
    margin-left: 25px;
    background-color:rgba(192,192,192,0.6);
    width: 525px;
    height: 425px;
    overflow: hidden;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

/*CSS Right Container*/
#right-container {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: -100px;
   	margin-top: -450px;
    overflow: hidden;
    width: 600px;
    height: 675px;
    background-color:rgba(192,192,192,0.6);
	  float: right;
}
/*CSS Video Container(Around the Webcam video)*/
#vid-box {
    height: 400;
    width: 500;
    margin-left: 50px;
}
/*CSS Top Title ("Benefits By Design")*/
#title {
    margin-left: 22%;
    margin-right:25%;
}
/*The field that holds the Date(Helped with script.js)*/
#dtField {
    float:right;
    margin-right:50px;
    margin-top:-100px;
    font-size: 250%;
    color: #FEE526;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/*The Field that shows the Time(Helped with script.js)*/
#showTime {
    float:right;
    margin-right:50px;
    margin-top:-50px;
    font-size: 250%;
    color: #FEE526;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/*Benefits By Design Title*/
#lrgTitle {
  text-align: center;
  text-decoration: underline;
}
/*The lenght of the youtube embed video box*/
#youtubeURL {
  width: 550px;
  height: 25px;
  font-size: 18px;
  margin-left: 3%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
#notTitle {
  text-align: center;
  text-decoration: underline;
}
#submit {
  width:88px;
  height: 40px;
  font-size: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
ul {
    list-style-type: square;
    list-style-position: inside;
    background-color:rgba(135,206,250,0.2);
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;

}
h1,h2,h3,h4,p{
  /*font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-family: ‘Courier New’, Courier, monospace;
    font-family: Arial, Helvetica, sans-serif;
    XXXXXXXXXXXXXXfont-family: Georgia, Serif;
    font-family: Copperplate, sans-serif;
    font-family: ‘Arial Narrow’, sans-serif;
    xxxxxxxxxxxxxxxfont-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-family: Tahoma, Geneva, sans-serif;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  */
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
/*centers all the event titles*/
.eventTitle{
  text-align: center;
}
/*All the calender icons*/
.calIMG{
  float:left;
  margin-left: 2%;
}
/*Right Container Sections*/
.rcs {
  width: 580px;
  height: 100px;
}
/*The login form text boxes*/
.LoginForm {
  font-size:12pt;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-left: 2%;
}
.LoginFormTitle {
  margin-left: 2%;
}
/*Edit fields in index.html*/
.editTitle {
  width: 300px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
/*Pushes the notifications a smidge over*/
.notifications {
  margin-left: 2%;
}
.notList {
  font-size: 20px;
}
